$colorBg: #EAE2B7;
.Toolbar {
    background-color: $colorBg;
    .DesktopOnly {
        display: flex;
        justify-content: space-between;
        .Logo {
            flex-grow: 1;
            img {
                max-height: 50px;
            }
        }
    }
}