.DrawerToggle {
    width: 35px;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    margin-right: 5%;
    cursor: pointer;

    div {
        width: 90%;
        height: 3px;
        background-color: black;
    }

    @media (min-width: 500px) {
        display: none;
    }
}