$colorCoorp: #73A404;
$colorText: #FFF;

@mixin active_link_side_drawer {
    color: $colorText;
    background-color: $colorCoorp;
}

@mixin active_link {
    //background-color: #8F5C2C;
    border-bottom: 3px solid darken($colorCoorp, 15%);
}

.NavigationItem {
    
    list-style-type: none;
    a {
        text-decoration: none;
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-bottom: 1px solid $colorCoorp;
        font-size: 1.1rem;
        color: initial;
        padding: 5px;
        
        &:hover, &:active{
            @include active_link_side_drawer;
        }
    }

    .active {
        @include active_link_side_drawer;
    } 

    @media (min-width: 500px) {
        
        margin: 0;
        flex-grow: 1;
        width: auto;

        a {
            color: $colorText;
            height: 100%;            
            padding-top: 20px;
            border-bottom: 3px solid transparent;
            text-align: center;
        
            &:hover, &:active{
                @include active_link;
                background-color: darken($colorCoorp, 10%);
            }  
            
        }

        .active {
            @include active_link;
        } 
    }
}