$colorCoorp: #73A404;
$colorBg: #EFE7DA;

.Container {
    height: 100%;
    background-color: lighten($colorBg, 5%);
    display: grid;
    //grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";

    header {
        grid-area: h;
        font-family: sans-serif;
    }
    main {
        grid-area: m;
    }
    footer {
        grid-area: f;
        text-align: center;
        font-family: sans-serif;
        width: 100%
    }
}