.Form_element {
    margin: 20px auto;
    width: 95%;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 1rem;
        text-align: left;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        font-size: 1.1rem;
        padding: 8px 12px;
        box-sizing: border-box;
    }  

    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

    }

    label[for="image_input"] {
        text-align: center;
        padding: 7px 12px;
        border: 2px solid #ccc;
        font-size: 1.1rem;
        background: #3F51B5;
        color: #fff;
        cursor: pointer;      
        span {
            margin-right: 10px;
        }  
    }    

    select {
        width: 100%;
        font-size: 1.1rem;
        padding: 8px 12px;
    }

    textarea {
        font-size: 1rem;
        width: 97%;
        padding: 5px;
    }
    
    .label_error {
        color: #FF5722;
        font-weight: 600;
        margin-top: 5px;
        text-align: left;
    }

    img {
        width: 100%;
    }
}